<section>
	<div class="panel panel-primary">
        <div class="panel-heading">
            Registro
        </div>
        <div class="panel-body">
            <!-- Contenido -->
        	<div class="row">
            	<div ng-controller="MyController as pag" class="my-controller col-xs-12">
					<div class="row fluid breadcrumb div-buscar">                    
					<div class="col-xs-6 col-md-3">
						<label for="search">General:</label>
						<input ng-model="q.$" id="search" class="form-control fa" placeholder="Buscar">                      
					</div>
					<div class="col-xs-6 col-md-3">
						<label for="search">Plataforma:</label>
						<input ng-model="pag.q.plataform" id="search" class="form-control fa" placeholder="Buscar">
					</div>
					<div class="col-xs-6 col-md-3">
						<label for="search">Version:</label>
						<input ng-model="pag.q.version" id="search" class="form-control fa" placeholder="Buscar">
					</div>
					<div class="col-xs-6 col-md-3">
						<label for="search">Elementos p/pag:</label>
						<input type="number" min="1" max="100" class="form-control fa" ng-model="pag.pageSize">
					</div>
					<p class="col-xs-12">Optimize su busqueda con los filtros de la aplicación</p>
					</div>
	            	<div class="table-responsive  margin-none vertical-scroll">
	                	<table class="table table-striped table-bordered table-hover">
							<thead>
							  <tr>
							      <th>
							        Rendering engine
							        <span class="fa fa-sort pull-right" style="cursor: pointer" ng-click="pag.ordenarPor('rendering')"></span>
							      </th>
							      <th>
							        Browser
							        <span class="fa fa-sort pull-right" style="cursor: pointer" ng-click="pag.ordenarPor('browser')"></span>
							      </th>
							      <th>Platform(s)</th>
							      <th>Engine version</th>
							      <th>CSS grade</th>
							  </tr>
							</thead>
							<tbody>
							    <tr dir-paginate="meal in pag.meals | orderBy:pag.ordenSeleccionado:pag.ascendente |filter:pag.q | itemsPerPage: pag.pageSize" current-page="pag.currentPage">
							        <td>{{meal.rendering}}</td>
							        <td>{{meal.browser | uppercase}}</td>
							        <td>{{meal.plataform | lowercase}}</td>
							        <td>{{meal.version}}</td>
							        <td>{{meal.grade}}</td>
							    </tr>
							</tbody>
						</table>
					<!--Fin Tabla resposive -->
	                </div>
	                <!--Paginado de la tabla -->	                                
	                <div style="border : none" ng-controller="OtherController" class="row other-controller  fluid" >                  
	                  <div class="col-xs-12 text-center">
	                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
	                  </div>                                        
	                </div>

                </div>
            </div>
        	<form role="form">
                <div class="row"> 
                	
                </div>
                <!-- /.row (nested) -->
	            <div class="pull-right row">
	        		<div class="col-md-12">
	           			<button type="reset"  class="btn btn-warning"><span class="fa fa-file-o"></span> Limpiar</button>
	        			<button type="submit" class="btn btn-success"><span class="fa fa-save "></span> Guardar</button>
	        		</div>        		
	            </div>
	        </form>   
        <!--Cierre de panel -body -->	        
        </div>
    <!--Cierre del panel-primary -->        
    </div>
</section>