<section>    
    <div class="panel panel-primary">
    	<div class="panel-heading">
    	    Registro
    	</div>
        <div class="panel-body">
            <form role="form" name="empleado_form" ng-submit="empleado.agregar()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>RFC <FONT color="red">* </FONT>:</label>
                            <input class="form-control" placeholder="El RFC debe tener 13 caracteres" required ng-model="empleado.rfc">
                        </div>
                        <div class="form-group">
                            <label>Nombres <FONT color="red">* </FONT>:</label>
                            <input class="form-control" placeholder="Nombre(s)" name="" id="" required ng-model="empleado.nombre">
                        </div>
                        <div class="form-group">
                            <label>Apellidos <FONT color="red">* </FONT>:</label>
                            <input class="form-control" placeholder="Apellido(s)" name="" id="" required ng-model="empleado.apellidos">
                        </div>                                                
                       <label>Correo electrónico :</label>
                        <div class="form-group input-group">                            
                                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                <input type="email" class="form-control" placeholder="Email" ng-model="empleado.correo">
                        </div>  
                        <label>Teléfono <FONT color="red">* </FONT>:</label>
                        <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa  fa-phone "></i></span>
                                <input type="text" class="form-control" placeholder="Teléfono" ng-model="empleado.telefono" required>
                        </div>
                        <label>Celular :</label>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                            <input type="text" class="form-control" placeholder="Celular" ng-model="empleado.celular">
                        </div>
                        {{empleado.cargos}}
                        {{empleado.departamentos}} 

                        <div class="form-group">
                            <label>Departamento <FONT color="red">* </FONT>:</label>
                            <select class="form-control">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Cargo <FONT color="red">* </FONT>:</label>
                            <select class="form-control">
                            </select>
                        </div>
                        <div class="form-group">
                                <label>Observaciones <FONT color="red">* </FONT>:</label>
                                <textarea class="form-control" rows="5"></textarea>
                        </div>
                        <br>
                    </div>

                <!-- /.col-md-6 (nested) -->
                    <div class="col-md-6">
                        <div class="form-group">
                                <label for="btn_file">Elegir la fotografía del empleado <FONT color="red">* </FONT>:</label>
                                <input type="file"  id="btn_file">
                        </div>
                        
                        <div class="form-group">
                          <img class="img-responsive img-thumbnail" id='img_src' src="img/profile_man.jpg" alt="">
                          <hr>
                            <div class="form-group">
                                <p class="help-block"><i class="fa fa-warning"></i> La imagen no debe de ser mas grande 140x140 pixeles. <br>formato: JPG</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Estado <FONT color="red">* </FONT>:</label>
                            <select class="form-control" ng-change="empleado.cargaMunicipios()" ng-model="empleado.estado" ng-options="estado.nombre for estado in empleado.estados">
                                <option value="">Selecciona un estado</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Municipio <FONT color="red">* </FONT>:</label>
                            <select class="form-control" ng-model="empleado.municipio" ng-options="municipio.nombre for municipio in empleado.municipios">
                                <option value="">Selecciona un municipio</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Colonia <FONT color="red">* </FONT>:</label>
                            <select class="form-control">
                                <option>Alameda</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-8 form-group">
                                <label>Calle <FONT color="red">* </FONT>:</label>
                                <input class="form-control" placeholder="Nombre de la calle" name="" id="">
                             </div>
                            <div class="col-md-4 form-group">
                                <label>CP <FONT color="red">* </FONT>:</label>
                                <input class="form-control" placeholder="Codigo Postal" name="" id="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group" border="0">
                                <label>Número Interior :</label>
                                <input class="form-control" placeholder="Número Interior" name="" id="">
                            </div>

                            <div class="col-md-6 form-group">
                                <label>Número Exterior :</label>
                                <input class="form-control" placeholder="Número Exterior" name="" id="">
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-6 (nested) -->
                </div>
            
                <!-- /.row (nested) -->
                <div class="pull-right row">
            		<div class="col-md-12">
               			<!-- <button type="reset"  class="btn btn-warning"><span class="fa fa-file-o"></span> Limpiar</button>-->
            			<button type="submit" class="btn btn-success"><span class="fa fa-save "></span> Guardar</button>
            		</div>        		
                </div>
            </form>
        </div>
            <!-- /.panel-body -->
    </div>
</section>