<section>    
    <div class="panel panel-primary">
    	<div class="panel-heading">
    	    Registro
    	</div>
        <div class="panel-body">
            <form role="form" name="empleado_form" ng-submit="empleado.agregar()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>RFC:</label>
                            <input class="form-control" placeholder="El RFC debe tener 13 caracteres" name="rfc" ng-model="empleado.rfc">
                        </div>
                        <div class="form-group">
                            <label>Usuario <span class="text-danger">* </span>:</label>
                            <input class="form-control" placeholder="Nombre de usuario" required name="usuario" ng-model="empleado.usuario">
                        </div>
                        <div class="form-group">
                            <label>Nombres <span class="text-danger">* </span>:</label>
                            <input class="form-control" placeholder="Nombre(s)" required name="nombre" ng-model="empleado.nombre">
                        </div>
                        <div class="form-group">
                            <label>Apellidos <span class="text-danger">* </span>:</label>
                            <input class="form-control" placeholder="Apellido(s)" name="apellidos" required name="" ng-model="empleado.apellidos">
                        </div>
                       <label>Correo electrónico :</label>
                        <div class="form-group input-group">                            
                                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                <input type="email" class="form-control" placeholder="Email" name="correo" ng-model="empleado.correo">
                        </div>  
                        <label>Teléfono <span class="text-danger">* </span>:</label>
                        <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa  fa-phone "></i></span>
                                <input type="text" class="form-control" placeholder="Teléfono" name="tlefono" ng-model="empleado.telefono" required>
                        </div>
                        <label>Celular :</label>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                            <input type="text" class="form-control" placeholder="Celular" name="celular" ng-model="empleado.celular">
                        </div>
                        <div class="form-group">
                            <label>Departamento <span class="text-danger">* </span>:</label>
                            <select class="form-control" name="departamento" ng-model="empleado.departamento" ng-options="departamento.nombre for departamento in empleado.departamentos">
                                <option value="">Selecciona un departamento</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Cargo <span class="text-danger">* </span>:</label>
                            <select class="form-control" name="cargo" ng-model="empleado.cargo" ng-options="cargo.nombre for cargo in empleado.cargos">
                                <option value="">Selecciona un cargo</option>
                            </select>
                        </div>
                        <div class="form-group">
                                <label>Observaciones <span class="text-danger">* </span>:</label>
                                <textarea class="form-control" rows="5" name="observaciones"></textarea>
                        </div>
                        <br>
                    </div>

                <!-- /.col-md-6 (nested) -->
                    <div class="col-md-6">
                        <div class="form-group">
                                <label for="btn_file">Elegir la fotografía del empleado <span class="text-danger">* </span>:</label>
                                <input type="file"  id="btn_file" name="" ng-model="empleado.fotografia">
                        </div>
                        
                        <div class="form-group">
                          <img class="img-responsive img-thumbnail" id='img_src' src="img/profile_man.jpg" alt="">
                          <hr>
                            <div class="form-group">
                                <p class="help-block"><i class="fa fa-warning"></i> La imagen no debe de ser mas grande 140x140 pixeles. <br>formato: JPG</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Estado <span class="text-danger">* </span>:</label>
                            <select class="form-control" ng-change="empleado.cargaMunicipios()" name="" ng-model="empleado.estado" ng-options="estado.nombre for estado in empleado.estados">
                                <option value="">Selecciona un estado</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Municipio <span class="text-danger">* </span>:</label>
                            <select class="form-control" name="" ng-model="empleado.municipio" ng-options="municipio.nombre for municipio in empleado.municipios">
                                <option value="">Selecciona un municipio</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Colonia <span class="text-danger">* </span>:</label>
                            <input class="form-control" placeholder="Colonia" name="colonia" required name="colonia" ng-model="empleado.colonia">
                        </div>
                        <div class="row">
                            <div class="col-md-8 form-group">
                                <label>Calle <span class="text-danger">* </span>:</label>
                                <input class="form-control" placeholder="Nombre de la calle" name="calle" ng-model="empleado.calle">
                             </div>
                            <div class="col-md-4 form-group">
                                <label>CP <span class="text-danger">* </span>:</label>
                                <input class="form-control" placeholder="Codigo Postal" name="codigo_postal" ng-model="empleado.codigo_postal">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group" border="0">
                                <label>Número Interior :</label>
                                <input class="form-control" placeholder="Número Interior" name="num_int" ng-model="empleado.num_int">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Número Exterior <span class="text-danger">*</span>:</label>
                                <input class="form-control" placeholder="Número Exterior" name="num_ext" ng-model="empleado.num_ext" required>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-6 (nested) -->
                </div>
            
                <!-- /.row (nested) -->
                <div class="pull-right row">
            		<div class="col-md-12">
               			<!-- <button type="reset"  class="btn btn-warning"><span class="fa fa-file-o"></span> Limpiar</button>-->
            			<button type="submit" class="btn btn-success"><span class="fa fa-save "></span> Guardar</button>
            		</div>        		
                </div>
            </form>
        </div>
            <!-- /.panel-body -->
    </div>
</section>