<section>
    <div class="row">
        <h1 class="subheader">Consumir un json con $http en AngularJS</h1>
        <ul class="panel callout radius">
                <p>Login: {{ datos }}</p>
        </ul>

        <h1 class="subheader">Consumir un json con resource en AngularJS</h1>
        <ul class="panel callout radius">
            <!-- <li ng-repeat="data in datosResource"> -->
            <p>{{datosResource}}{{datosResource.status}}</p>
            <p>{{datosResource.status}}</p>
            <!-- </li> -->
        </ul>
    </div>
</section>