<section>
    <div id="login-page">
	  	<div class="container">	  	
            <form class="form-login" ng-submit="sesion.loguear()">
                <h2 class="form-login-heading">Acceso al Sistema</h2>
                <div class="login-wrap">
                    <input type="text" class="form-control" placeholder="Nombre de usuario" name="usuario" required autofocus ng-model="sesion.user">
                    <br>
                    <input type="password" class="form-control" placeholder="Contraseña" name="password" required ng-model="sesion.pass">
                    <label class="checkbox">
                        <span class="pull-right">
                            <a href=""> No puedes acceder a tu cuenta?</a>
                        </span>
                    </label>
                    <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> Inciar Sesión</button>
                </div>
            </form>
	  	</div>
    </div>
</section>
<script type="text/javascript" src="Theme/js/jquery.backstretch.min.js"></script>
<script>
    $.backstretch("Theme/img/login-bg.jpg", {speed: 500});
</script>
<!--
<div class="container well" id="sha">

	<div class="row">
			<div class="col-xs-12">
				<img src="img/avatar.png" class="img-responsive" id="avatar">
			</div>
	</div>	
			
	<form class="sesion" ng-submit="sesion.loguear()">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Nombre de usuario" name="usuario" required autofocus ng-model="sesion.user">
		</div>

		<div class="form-group">
			<input type="password" class="form-control" placeholder="Contraseña" name="password" required ng-model="sesion.pass">
		</div>

		<button class="btn btn-primary btn-lag btn-block" type="submit" id="submit" >Iniciar sesión</button>
		<p class="help-block"><a href="#">No puedes acceder a tu cuenta?</a></p>
	</form>
</div> -->