<div class="container well" id="sha">

	<div class="row">
			<div class="col-xs-12">
				<img src="img/avatar.png" class="img-responsive" id="avatar">
			</div>
	</div>	
			
	<form class="sesion" ng-submit="sesion.loguear()">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Nombre de usuario" name="usuario" required autofocus ng-model="sesion.user">
		</div>

		<div class="form-group">
			<input type="password" class="form-control" placeholder="Contraseña" name="password" required ng-model="sesion.pass">
		</div>

		<button class="btn btn-primary btn-lag btn-block" type="submit" id="submit" >Iniciar sesión</button>
		<p class="help-block"><a href="#">No puedes acceder a tu cuenta?</a></p>
	</form>
</div>