<div class="container well" id="sha">

	<div class="row">
			<div class="col-xs-12">
				<img src="img/avatar.png" class="img-responsive" id="avatar">
			</div>
	</div>	
			
	<form class="login">
		<div class="form-group">
			<input type="email" class="form-control" placeholder="Correo electronico" name="email" required autofocus>
		</div>

		<div class="form-group">
			<input type="password" class="form-control" placeholder="Contraseña" name="password" required>
		</div>

		<button class="btn btn-primary btn-lag btn-block" type="submit">Iniciar sesión</button>

		<div class="checkbox">
			<label class="checkbox">
				<input type="checkbox" value="1" name="remember">No cerrar sesión
			</label>
			<p class="help-block"><a href="#">No puedes acceder a tu cuenta?</a></p>
		</div >
		
	</form>
</div>