<section>
	<div class="panel panel-primary">
		<div class="panel-heading">
		    Registro
		</div>
	    <div class="panel-body">
	    	<form role="form">
	        	<div class="row">
	            	<div class="col-lg-6">
	                	<div class="form-group">
	                        <label>Almacén:</label>
	                        <select class="form-control">
	                            <option>Seleccione un Almacén</option>
	                            <option>2</option>
	                            <option>3</option>
	                            <option>4</option>
	                            <option>5</option>
	                        </select>
	                	</div>
	                	<div class="form-group">
	                        <label>Nombre:</label>
	                        <input class="form-control" placeholder="Nombre del Producto" name="" id="">
	                    </div>
	                    <div class="form-group">
	                        <label>Modelo:</label>
	                        <select class="form-control">
	                            <option>Seleccione un Modelo</option>
	                            <option>2</option>
	                            <option>3</option>
	                            <option>4</option>
	                            <option>5</option>
	                        </select>
	                	</div>
	                	<div class="form-group">
	                        <label>Unidad de Medida:</label>
	                        <select class="form-control">
	                            <option>Seleccione una Unidad de Medida</option>
	                            <option>2</option>
	                            <option>3</option>
	                            <option>4</option>
	                            <option>5</option>
	                        </select>
	                	</div>
	                	<div class="form-group">
	                        <label>Familia:</label>
	                        <select class="form-control">
	                            <option>Seleccione una Familia</option>
	                            <option>2</option>
	                            <option>3</option>
	                            <option>4</option>
	                            <option>5</option>
	                        </select>
	                	</div>
	            	</div>

	            	<!-- /.col-lg-6 (nested) -->
	            	<div class="col-lg-6">
	                	<div class="form-group">
	                        <label>Fotografía del Producto:</label>
	                        <input type="file" name="" id="">
	                	</div>
	                    <div class="form-group">
	                        <label>Descripción</label>
	                        <textarea class="form-control" rows="3" placeholder="Descripción del producto"></textarea>
	                    </div>
	                	<br>                   
	                </div>
	                <!-- /.col-lg-6 (nested) -->
	        	</div>
	        
	            <!-- /.row (nested) -->
	            <div class="pull-right row">
	        		<div class="col-md-12">
	        			<button type="submit" class="btn btn-success"><span class="fa fa-save "></span> Guardar</button>
	        		</div>
	            </div>
	    	</form>
	    </div>
	    <!-- /.panel-body -->
	</div>
</section>