<section>   
    <div class="panel panel-primary">
        <div class="panel-heading">
            Registro
        </div>
            <div class="panel-body">
            
            <form role="form">                
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>RFC <FONT color="red">* </FONT>:</label>
                            <input class="form-control" placeholder="El RFC debe tener 12 o 13 caracteres" name="" id="">
                        </div>
                        <div class="form-group">
                            <label>Razón Social <FONT color="red">* </FONT>:</label>
                            <input class="form-control" placeholder="Nombre del negocio o empresa" name="" id="">
                        </div>
                        <div class="form-group">
                            <label>Representante <FONT color="red">* </FONT>:</label>
                            <input class="form-control" placeholder="Dueño o Gerente" name="" id="">
                        </div>                                               
                        <label>Correo electronico <FONT color="red">* </FONT>:</label>
                        <div class="form-group input-group">                            
                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>  
                        <label>Teléfono <FONT color="red">* </FONT>:</label>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa  fa-phone "></i></span>
                            <input type="text" class="form-control" placeholder="Teléfono">
                        </div>
                        <label>Celular :</label>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                            <input type="text" class="form-control" placeholder="Celular">
                        </div>
                    </div>
                
                <!-- /.col-lg-6 (nested) -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Estado <FONT color="red">* </FONT>:</label>
                        <select class="form-control" ng-change="proveedor.cargaMunicipios()" ng-model="proveedor.estado">
                            <option value="">Seleccione un estado</option>
                            <option value="{{estado.id_estado}}" ng-repeat="estado in proveedor.estados">{{estado.nombre}}</option>                            
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Municipio<FONT color="red">* </FONT>:</label>
                        <select class="form-control">
                            <option value="">Seleccione un municipio</option>
                            <option value="{{municipio.id_municipio}}" ng-repeat="municipio in proveedor.municipios">{{municipio.nombre}}</option>
                        </select>
                    </div>  
                    <div class="form-group">
                        <label>Colonia <FONT color="red">* </FONT>:</label>
                        <select class="form-control">
                            <option>Alameda</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>  
                    <div class="row">
                        <div class="col-md-8 form-group">
                            <label>Calle <FONT color="red">* </FONT>:</label>
                            <input class="form-control" placeholder="Nombre de la calle" name="" id="">
                         </div>
                        <div class="col-md-4 form-group">
                            <label>CP <FONT color="red">* </FONT>:</label>
                            <input class="form-control" placeholder="Codigo Postal" name="" id="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group" border="0">
                            <label>Número Interior :</label>
                            <input class="form-control" placeholder="Número Interior" name="" id="">
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Número Exterior :</label>
                            <input class="form-control" placeholder="Número Exterior" name="" id="">
                        </div>
                    </div>    
                    <div class="form-group">
                        <label>Observaciones</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>                                    
                </div>
                <!-- /.col-lg-6 (nested) -->
                
            </div>
            
            <!-- /.row (nested) -->
            
            <div class="pull-right row">
                <div class="col-md-12">
                    
                    <button type="submit" class="btn btn-success"><span class="fa fa-save "></span> Guardar</button>
                </div>              
            </div>
        </form>
        </div>
        <!-- /.panel-body -->
    </div>
</section>