<h1>Empleados</h1> <!--Nombre  del Modulo -->
<ol class="breadcrumb">
	<!-- Seguido de la accion que se va a realizar en este caso crear empleado-->
    <h4><li class="active"><i class="fa fa-user"></i> Nuevo Empleado</li></h4>
    <li class="pull-right">
     
    </li>
</ol>

<div class="panel panel-primary">
	<div class="panel-heading">
	    Registro
	</div>
        <div class="panel-body">
        <form role="form">
            <div class="row">
                <div class="col-lg-6">
                    
                    	<div class="form-group">
                            <label>RFC:</label>
                            <input class="form-control" placeholder="El RFC debe tener 13 caracteres">
                        </div>
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Apellido Paterno:</label>
                            <input class="form-control">                            
                        </div>
                        <div class="form-group">
                            <label>Apellido Materno:</label>
                            <input class="form-control">
                        </div>
                        <div class="form-group">
                        	<label>Fecha de Alta:</label>
                        	<input class="form-control">
                        	<!-- Agregar Datapiker y fecha por default -->                            
                        </div>
                        <div class="form-group">
                            <label>Calle:</label>
                            <input class="form-control">
                        </div>

                        <div class="row">
                        	<div class="col-lg-6 form-group" border="0">
	                            <label>Numero Interior:</label>
	                            <input class="form-control">
	                        </div>

	                        <div class="col-lg-6 form-group">
	                            <label>Numero Exterior:</label>
	                            <input class="form-control">
	                        </div>
                        </div>
        				
        				<div class="row">
                        	<div class="col-lg-9 form-group" border="0">
	                            <label>Colonia:</label>
	                            <input class="form-control">
	                        </div>

	                        <div class="col-lg-3 form-group">
	                            <label>CP:</label>
	                            <input class="form-control">
	                        </div>
                        </div>
                        
                    
                </div>

                <!-- /.col-lg-6 (nested) -->
                <div class="col-lg-6">
                    <div class="form-group">
                            <label>Fotografía del empleado:</label>
                            <input type="file">
                    </div>
                    <div class="form-group">
                            <label>Estado:</label>
                            <select class="form-control">
                                <option>Jalisco</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <label>Municipio:</label>
                        <select class="form-control">
                            <option>Guadalajara</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <label>Correo electronico:</label>
                    <div class="form-group input-group">                    		
                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                            <input type="text" class="form-control" placeholder="Email">
                    </div>	
                    <label>Telefono:</label>
                    <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa  fa-phone "></i></span>
                            <input type="text" class="form-control" placeholder="Tel:">
                    </div>

                    <div class="form-group">
                        <label>Departamento:</label>
                        <select class="form-control">
                            <option>Corte</option>
                            <option>Despunte</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                            <label>Observaciones</label>
                            <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <br>
                   
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            
            <!-- /.row (nested) -->
            <div class="pull-right row">
        		<div class="col-md-12">
	       			<button type="reset"  class="btn btn-warning"><span class="fa fa-file-o"></span> Limpiar</button>
        			<button type="submit" class="btn btn-success"><span class="fa fa-save "></span> Guardar</button>
        		</div>        		
            </div>
	       

        </form>
        </div>

        <!-- /.panel-body -->
    </div>