<div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div ng-controller="MyController" class="my-controller">
          <h1>Tasty Paginated Menu</h1>

          <small>this is in "MyController"</small>


          <div class="row">
            <div class="col-xs-4">
              <h3>Meals Page: {{ currentPage }}</h3>
            </div>
            <div class="col-xs-4">
              <label for="search">Search:</label>
              <input ng-model="q.$" id="search" class="form-control" placeholder="Filter text">
              <input ng-model="q.plataform" id="search" class="form-control" placeholder="Filter text sides">
            </div>
            <div class="col-xs-4">
              <label for="search">items per page:</label>
              <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
          </div>
          <br>
          <div class="table-responsive vertical-scroll">
          <table class="table table-striped table-bordered table-hover">
              <thead>
                  <tr>
                      <th>Rendering engine</th>
                      <th>Browser</th>
                      <th>Platform(s)</th>
                      <th>Engine version</th>
                      <th>CSS grade</th>
                  </tr>
              </thead>
              <tbody>
                  <tr dir-paginate="meal in meals | filter:q | itemsPerPage: pageSize" current-page="currentPage">
                      <td>{{meal.rendering}}</td>
                      <td>{{meal.browser | uppercase}}</td>
                      <td>{{meal.plataform | lowercase}}</td>
                      <td>{{meal.version}}</td>
                      <td>{{meal.grade}}</td>
                  </tr>
              </tbody>
          </table>
          <!--
          <div class="panel panel-default">
            <div class="panel-body">
              <ul>
                <li dir-paginate="meal in meals | filter:q | itemsPerPage: pageSize" current-page="currentPage">{{ meal }}</li>
              </ul>
            </div>
          </div>
          -->
        </div>

        <div ng-controller="OtherController" class="other-controller">
          <small>this is in "OtherController"</small>
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="controllers/dirPagination.tpl.html"></dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>